body {

    font-family: Arial, sans-serif;
    text-align: center;
    background: #d9eaff;
}


h1 {

    color: #3b2c8a;

}


.painel {

    display:flex;
    justify-content:center;
    gap:30px;
    font-size:20px;
    font-weight:bold;

}


#laboratorio {

    width:700px;
    height:450px;
    margin:auto;
    background:linear-gradient(#555,#222);
    border:5px solid #111;
    border-radius:20px;
    position:relative;
    overflow:hidden;

}



/* Cientista */

#cientista {

    position:absolute;
    left:50px;
    top:200px;
    font-size:50px;

}



/* Objetos */

#frasco {

    position:absolute;
    right:100px;
    top:80px;
    font-size:45px;

}


#perigo {

    position:absolute;
    right:180px;
    bottom:80px;
    font-size:45px;

}


#atomo {

    position:absolute;
    left:320px;
    top:100px;
    font-size:55px;

}



button {

    margin-top:15px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#4b2ea8;
    color:white;
    font-size:18px;
    cursor:pointer;

}


button:hover {

    background:#321d75;

}



#mensagem {

    font-size:20px;
    font-weight:bold;

}



#final {

    background:white;
    width:350px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    border:3px solid #4b2ea8;

}



.escondido {

    display:none;

}
