body {

    font-family: Arial, sans-serif;
    text-align: center;
    background: #b9f6ca;
    margin: 0;

}


h1 {

    color: #176b2c;

}


.painel {

    display:flex;
    justify-content:center;
    gap:25px;
    font-size:18px;
    font-weight:bold;

}



#jogo {

    width:700px;
    height:450px;
    margin:auto;
    background:linear-gradient(#7ed957,#3c9b35);
    border:5px solid #145214;
    position:relative;
    overflow:hidden;
    border-radius:20px;

}


/* personagem */

#personagem {

    position:absolute;
    font-size:50px;
    left:60px;
    top:200px;
    transition:0.1s;

}


/* objetos */

#moeda {

    position:absolute;
    font-size:40px;
    right:100px;
    top:80px;

}


#lixo {

    position:absolute;
    font-size:45px;
    right:150px;
    bottom:80px;

}


#arvore {

    position:absolute;
    font-size:70px;
    left:200px;
    bottom:40px;

}


#abelha {

    position:absolute;
    font-size:40px;
    right:250px;
    top:150px;
    animation:voar 3s infinite;

}



@keyframes voar {

0%{
transform:translateX(0);
}

50%{
transform:translateX(80px);
}

100%{
transform:translateX(0);
}

}



button {

    margin:10px;
    padding:12px 18px;
    border:none;
    border-radius:12px;
    background:#168b38;
    color:white;
    font-size:16px;
    cursor:pointer;

}


button:hover {

    background:#0d5e26;

}



#mensagem {

    font-size:20px;
    font-weight:bold;

}



.controles button {

    font-size:25px;
    width:60px;

}



#certificado {

    background:white;
    width:350px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    border:3px solid green;

}



.oculto {

    display:none;

}
